# Cabal
*.cabal

# Profiling
*.prof
profiling

# Stack
.stack-work

# Emacs
TAGS
*.swp
.dir-locals.el

# UI
gui
purescript-gargantext
gargantext-rfc

# Docs and Deps
doc
deps
_darcs
*.pdf
*.sql
*.ini

# Runtime

# Repo
repo.json*
tmp*repo*json
